@media print {

    // body {counter-reset: chapter;}
    // h1 {counter-increment: chapter;}
    h1::before { content: '1. ' }
    // h1 { string-set: header content(before) ':' content(text); }
    // h1::after { content: '.'; }

    // h4{counter-increment: page;}
    // h4::before { 
    //    content: counter(page) ' / '; 
    // }
    @page  
    { 
        size: A4 portrait;   /* auto is the initial value */ 
        -webkit-print-color-adjust: exact; 
        // @top-left-corner { content: " "; border: solid green; }
        // @top-right-corner { content: url(foo.png); border: solid green; }
        // @bottom-right-corner { content: counter(page); border: solid green; }
        // @bottom-left-corner { content: normal; border: solid green; }
    } 

    body  
    { 
        /* this affects the margin on the content before sending to printer */ 
        margin: 0;  
        padding: 0;
        &::before {
            //counter-increment: page;
            content:"1";
            font-family: "ff-nuvo-web-pro";
            font-size:1.25em;
            font-weight:bold;
            padding:0.75em 1.25em;
            position:absolute;
            margin-top:1cm;
            margin-bottom:1cm;
            -webkit-print-color-adjust: exact; 
            left:0;
            top:15mm;
            color:white !important;
            background-color: #004B93 !important;
        }
    } 
    article {
        margin: 25mm 35mm 0mm 35mm; 
        position:relative;
    }

    .article-content {
        position:relative;
        .wp-caption {
            width:100% !important;
        }
        .aligncenter {
            column-span:all;
            text-align: left;
            -webkit-print-color-adjust: exact; 
            max-width:100%;
            width:100%;
            display:block;
            img {
                page-break-inside: avoid;
                page-break-before: auto;
                page-break-after:auto;
                max-width:100% !important;
            }
        }
        ul {
            -webkit-print-color-adjust: exact; 
            padding:1.5em;
            list-style-type: square;
            background-color: #CBE6FF !important;
            border-radius:3px;
        } 
        ol {
            -webkit-print-color-adjust: exact; 
            padding:1.5em;
        } 
    }

    .page-footer {
        margin: 5mm 35mm 25mm 35mm;  
        
    }
    .site-header, .breadcrumbs {
        display:none;
    }
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        display: block;
        page-break-inside: avoid;
        page-break-before: always;
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h6 {
        font-size:10pt;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}