@media print {
    @page  
    { 
        border:1px solid black;
        size: auto;   /* auto is the initial value */ 
        -webkit-print-color-adjust: exact; 
        /* this affects the margin in the printer settings */ 
    } 

    body  
    { 
        /* this affects the margin on the content before sending to printer */ 
        margin: 0;  
        padding: 0;
        &::before {
            content:'22';
            font-family: "ff-nuvo-web-pro";
            font-size:1.25em;
            font-weight:bold;
            padding:0.75em;
            position:absolute;
            margin-top:1cm;
            margin-bottom:1cm;
            -webkit-print-color-adjust: exact; 
            left:0;
            top:15mm;
            color:white !important;
            background-color: #004B93 !important;
        }
    } 
    article {
        margin: 25mm 15mm 0mm 15mm; 
    }

    .article-content {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        column-gap: 10mm;
        position:relative;
        .wp-caption {
            max-width:100% !important;
            width:100% !important;
            // &::after {
            //     display:block;
            //     height:10px;
            //     width:100px;
            //     background:red;
            //     //visibility: hidden;
            //     page-break-after: always;
            //     page-break-inside: avoid;
            //     page-break-before: always;
            // }
        }

        .aligncenter {
            column-span:all;
            //page-break-before: always; 
            max-width:100%;
            //display:block;
            img {
                // page-break-inside: avoid;
                // page-break-before: auto;
                // page-break-after:unset;
                max-width:100% !important;
            }
        }
        ul {
            -webkit-print-color-adjust: exact; 
            padding:1.5em;
            padding-left:100px;
            list-style-type: square;
            background-color: #CBE6FF !important;
            border-radius:3px;
        } 
    }

    .page-footer {
        margin: 5mm 15mm 25mm 15mm;  
        
    }
    .site-header, .breadcrumbs {
        display:none;
    }
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        display: block;
        page-break-inside: avoid;
        page-break-before: always;
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}