table.mce-item-table thead,
thead,
.table__header {
    background-color: #004B93;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.table__subheader {
    background: #DDEEF9 !important;
}


.article table {
	// Override inline styles of tables that tinymce generates.
	&[style] {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
	}
	// Can't be 0 and td/tr has no default width value
	tr[style], 
	td[style],
	thead[style],
	tbody[style] {
		width:  auto!important;
		height: auto!important;
	}

	figure {
		display: inline-block;
		width: auto;
		text-align: inherit;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	img[src*="generiskt-utbyte.svg"],
	img[src*="kommunalt_lakemedelsforrad.svg"] {
		display: inline-block;
		width:      24px !important;
		min-width:  24px !important;
		max-width:  24px !important;
		min-height: 16px !important;
		max-height: 16px !important;
	}
}