// Spacing
$space-1: .25rem;
$space-2: .5rem;
$space-3: 1rem;
$space-4: 2rem;
$space-5: 4rem;
$space-6: 8rem;

// Type-scale
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;

// Typography
$sans-font-family: "Scala-Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$letter-spacing: 1;
$caps-letter-spacing: .2em;
$bold-font-weight: bold;

$border-radius: 3px;

// Colors
$white: #FFFFFF;
$grey: #F6F6F6;
$black: #000000;

$dark-blue: #0E5AA4;
$blue: #6CA2D5;
$light-blue: #CEE2F2;

$light-green: #D2E1C6;
$green: #438011;

$yellow: #FDB813;
$light-yellow: #FFF1CE;

$palettes: (
	grey: (
		xx-light : lighten($grey, 7%),
		x-light  : lighten($grey, 5%),
		light    : lighten($grey, 2%),
		base     : $grey,
		dark     : darken($grey, 8%),
		x-dark   : darken($grey, 24%)
	),
	black: (
		xx-light : lighten($black, 35%),
		x-light  : lighten($black, 22%),
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 8%),
		x-dark   : darken($black, 24%)
	),
	blue: (
		light    : lighten($blue, 10%),
		base     : $blue,
		dark     : darken($blue, 8%),
	),
	dark-blue: (
		light    : lighten($dark-blue, 10%),
		base     : $dark-blue,
		dark     : darken($dark-blue, 8%),
	),
	light-blue: (
		light    : lighten($light-blue, 10%),
		base     : $light-blue,
		dark     : darken($light-blue, 8%),
	),
	green: (
		light    : lighten($green, 10%),
		base     : $green,
		dark     : darken($green, 8%),
	),
	light-green: (
		light    : lighten($light-green, 10%),
		base     : $light-green,
		dark     : darken($light-green, 8%),
	),
	yellow: (
		light    : lighten($yellow, 10%),
		base     : $yellow,
		dark     : darken($yellow, 8%),
	),
	light-yellow: (
		light    : lighten($light-yellow, 10%),
		base     : $light-yellow,
		dark     : darken($light-yellow, 8%),
	),
);

// Darken
$darken-1: rgba(0, 0, 0, .0625);
$darken-2: rgba(0, 0, 0, .125);
$darken-3: rgba(0, 0, 0, .25);


// Widths
$width-1: 24rem;
$width-2: 32rem;
$width-3: 48rem;
$width-4: 64rem;

// Container
$container-max-width: 1240px;

// Breakpoints

//Small Tablets
$breakpoint-sm: 40em;
//Tablet
$breakpoint-md: 65em;
//Laptop and up
$breakpoint-lg: 80em;

// Z-index
$z1: 1;
$z2: 2;
$z3: 3;
$z4: 4;

